*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body{
    max-width: 100%;
}

:root{
    --border-:gainsboro;
    --white-:white;
}

.container{
    width: 100%;
    background-color: aliceblue;

}

.d-flex{
    display: flex;
}

.admin-side{
    background-color: var(--white-);
    width: 250px ;
    height: 100vh;
    
    /* height: 200vh; */

    overflow: hidden;
    transition: width 1s;
    position: sticky;
    top: 0px;
  /* z-index: 10; */
}

.admin-hide{
    width: 40px;
}

.a-hide{
    display: none;
}

.w-100{
    width: 100% !important;
    
}



.admin-title{
    width: 100%;
    /* justify-content: space-around; */
    padding: 15px 0px;

    
}

.admin-title-logo{
    width: 30%;
    text-align: right;
    padding-right: 10px;
}
.admin-title-h1{
    font-size: 15PX;
    width: 60%;
    font-weight: 300;
}
.admin-title-h1 h1{
 
    font-weight: 400;
}



.admin-title-logo i{
    font-size: 30px;
    color: #0056ff;
}

.border{
    border: 1px solid var(--border-);
}

.admin-contents{
    margin-top: 10px;
      z-index: 10 !important;
      background-color: white;

   
}
.admin-link{
    justify-content: space-around;
    /* padding: 0px 40px; */
   

}

.cont{
    padding: 2px 0px;
    margin-bottom: 2px;
}

.admin-link i{
    font-size: 20px;
    text-align: right;
}

.admin-link a{
    font-size: 17px;
    text-decoration: none;
    color: grey;
}




.center{
 
    align-items: center;
}

.cont{
    border: 1px solid gainsboro;
}

.admin-link-i{
    width: 30%;
    transition: all 1s;
    padding: 5px 5px;
}

.admin-link-a{
    width: 60%;
    padding: 5px 5px;
 
}
/* 
.container div {
    border:1px solid red
} */
 main{
    /* width: calc(100% - 250px); */
    width: 100%;
 }

nav{
    background-color: white;
    padding: 0px 30px;
    width: 100%;
    height: 68px;
    justify-content: space-between;
    position: relative;
}

nav i{
    width: 40%;
    font-size: 18px;
    padding-right: 20px;
}

/* .nav-id{
    width: 20%;
    border: 1px solid red;
} */
/* .nav-id div{
    border: 1px solid red;
} */
.nav-id {

    padding: 10px;
}

.nav-img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.nav-img img{
    width: 100%;
    height:100%;
       /* border: 1px solid gainsboro; */
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.963) 0px 8px 24px;
}

.user-container{
    position: absolute;
    display: none;
    top: 69px;
    right: 120px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(84, 84, 110, 0.265) 0px 7px 29px 0px;
    width: 235px;
    
 
}

.images{
    width: 50px; 
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    /* padding: 3px; */
  

}

.user-btn{
    justify-content: space-evenly;
    padding: 20px 10px;
}

.images img{
    width: 100%;
    height: 100%;
    /* background-color: white; */
    padding: 10px;
    border: 1px solid white;

  border-radius: 50%;
  /* box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px; */
}
.user-box{
    /* box-shadow: rgb(170, 209, 221) 0px 7px 29px 0px; */
    border-radius: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 10px;
}



.content-user{
    width: 50%;
    padding: 15px;
  
}
.span1{
    font-size: 20px;
}
.user-h3{
    font-weight: 400;
}

.user-h1{
    font-size: 23px;
}


.glow-on-hover {
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    color: 
#fff;
    background: 
#111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: 
#000
}

.glow-on-hover:active:after {
    background: 
transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
#111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.main-box{
    width: 100%;
}
.box{
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 20px;
    border: 1px solid var(--border-);
}

.boxes{
    width: 50%;
    /* border:2px solid red; */
    /* height: 50vh; */
  
    padding: 20px 10px;
    border: 1px solid var(--border-);

}

.boxes1{
    background-color:white;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    /* overflow: auto; */
    border: 1px solid var(--border-);
}

.div1{
    width: 100%;
    /* height: 20vh; */
    border: 1px solid var(--border-);
    /* padding: 20px 20px; */
}

.views{
    width: 25%;
    padding: 10px 20px;
    border: 1px solid var(--border-);
    
}

.view{
<<<<<<< HEAD

    /* height: 100%; */
    
=======
    /* background-color:beige; */
    height: 100%;
>>>>>>> 6d51432a5e80c2d483343fe860fc2a65a1cf1851
    /* padding: 40px 20px; */
}
.box div{
    /* border: 1px solid red; */
}

.div2{
    width: 100%;
    /* height: 73vh; */
}

.views1{
    width: 60%;
    border: 1px solid var(--border-);
    /* background-color:beige; */
    padding: 10px 5px;
}

.views2{
    width: 40%;
    border: 1px solid var(--border-);  
}

.div3{
    width: 100%;
    /* height: 50vh; */
}


.views3{
    width: 55%;
    padding: 20px 15px;
}

.views4{
    width: 45%;
    /* padding: 20px 15px; */
}


.tbl{
    width: 100%;
    /* height: 40vh; */
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px;
}
.tbl1{
    width: 100%;
    /* height: 40vh; */
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 10px;
    margin: auto;
    line-height: 30px;
   
}

#myChart{
    width: 100% !important;
    height: 100% !important;
}


.tbl-h2{
    /* padding: 10px ; */
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600 !important;
}


#chart1{
    /* width: 30px; */
    /* height: 10px !important; */
}

.visits-graph{
    /* width: 40%; */

}

.visits-img{
    /* width: 50%; */
    
}

.visits{
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 0px 0px 0px;
    align-items: center;
}

.view-h5{
    color: grey;
    font-size: 15px;
}

.map {
    /* -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(60%); */
margin-top: 10px;
            width: 100%;
            border-radius: 10px;
            height: 60vh;
}

#container,#container1,#container2,#container3 {
    /* margin: 20px; */
    width: 100%;
    height: 2px;
  }

  .value{
    justify-content: space-between;
  }

  .view{
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .view2{
    /* height: 100%; */
  }

  .border-btm{
    border-bottom: 1px solid gainsboro;
  }

  .hr{
    color: gainsboro;
  }


  #container4,#container5,#container6 {
    /* margin: 20px; */
    width: 100px;
    height: 100px;
    /* position: relative; */
  }