*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --border-:gainsboro;
    --white-:white;
}

.container{
    width: 100%;
    background-color: aliceblue;

}

.d-flex{
    display: flex;
}

.admin-side{
    background-color: var(--white-);
    width: 300px;
    height: 100vh;
  
}

.admin-hide{
    width: -300px;
    
}



.admin-title{
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px;
    
}

.admin-title-logo{
    width: 40%;
    text-align: right;
    padding-right: 20px;
}
.admin-title-h1{
    width: 60%;
}


.admin-title-logo i{
    font-size: 35px;
}

.border{
    border: 1px solid var(--border-);
}

.admin-contents{
    margin-top: 30px;
   
}
.admin-link{
    justify-content: space-around;
    /* padding: 0px 40px; */
   

}

.cont{
    padding: 6px 0px;
    margin-bottom: 5px;
}

.admin-link i{
    font-size: 22px;
    text-align: right;
}

.admin-link a{
    font-size: 19px;
    text-decoration: none;
    color: grey;
}




.center{
 
    align-items: center;
}

.cont{
    border: 1px solid gainsboro;
}

.admin-link-i{
    width: 30%;
    padding: 5px 5px;
}

.admin-link-a{
    width: 60%;
    padding: 5px 5px;
}
/* 
.container div {
    border:1px solid red
} */
 main{
    width: calc(100% - 300px);
 }

nav{
    background-color: white;
    padding: 0px 30px;
    width: 100%;
    height: 80px;
    justify-content: space-between;
}



nav i{
    width: 40%;
    font-size: 20px;
    padding-right: 20px;
}


