@media(max-width:1320px){
    .views{
        width: 50%;
    }
}
    
@media(max-width:1120px){
    .views{
        width: 100% !important;
    }

    .views1,.views2,.views3,.views4{
        width: 100% !important;
    }


}
@media(max-width:1320px){
    .views{
        width: 50%;
    }
}
@media(max-width:667px){
    .user-container{
        right: 10px;
    }
}

@media(max-width:767px){
    .admin-side{
        position:absolute;
    }

    .admin-contents{
        z-index: 10 !important;
        background-color: white;
    }
}

#chart{
    padding: 20px;
}