@media(max-width:1320px){
    .views{
        width: 50%;
    }
}
    
@media(max-width:1120px){
    .views{
        width: 100% !important;
    }

    .views1,.views2,.views3,.views4{
        width: 100% !important;
    }


}
@media(max-width:1320px){
    .views{
        width: 50%;
    }
}
@media(max-width:667px){
    .user-container{
        right: 10px;
    }

    .box{
        padding: 0px !important;
    }
    .boxes{
        padding: 0px !important;
    }

    .view{ 
        padding: 20px 5px !important;
    }

    .views3{
        padding: 10px 9px !important;
    }
    .tbl1{
        padding: 5px 9px !important;
    }

}

@media(max-width:892px){
    .admin-side{
        position:absolute;
        z-index: 10 !important;
        margin-top: 70px;
        height: 100vh ;
        /* border-radius: 10px; */
    }

    .containerx{
        padding-left: 43px !important;

    }

    .inbox-body{
        padding: 0 !important;
    }

    .admin-title{
        display: none;
    }

    .admin-contents{
        z-index: 10 !important;
        /* margin-top: 60px; */
        background-color: white;
    }

    
    nav{
        width: 100% !important;
    }

    .admin-side{
        position: fixed;
    }
}

@media(max-width:665px){
 

    .calender,.main-box{
        padding-left: 10%;
        padding-top: 50px;
       
    }

    .main-container{
        padding: 0 !important;
        padding-top: 70px !important;
        padding-left: 8% !important;
    }

    .container-fluid{
        padding: 0px !important;
    }
}
@media(max-width:448px){
 

    .main1{
       margin: 40px 0px !important;
       width: 100%;
        min-width: 0px !important;
    }
}

